<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(.*)/$ /$1 [L,R]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{QUERY_STRING} !^skip=1$
    RewriteRule ^ index.html [L]
</IfModule>